{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-assign",
    [
      "module-resolver",
      {
        "root": [
          "./client/**"
        ],
        "alias": {
          "components": "./client/components"
        }
      }
    ]
  ],
  "presets": [
    "env",
    "react"
  ]
}